* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.mainContent {
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    .login {
        // background-image: linear-gradient(45deg, #56CCF2, #2F80ED);
        background-color: #008970;
        border-style: hidden;
        width: 500px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 2px 2px 12px;
        // box-shadow: -2px 2px #49E3D5;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        h5 {
            cursor: pointer;
            color: white;
        }
    }
    h1 {
        color: #99eedf;
        font-size: 25px;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    input {
        text-align: center;
        border-radius: 10px;
        // border-width: 2px;
        border-color: #49E3D5;
        height: 50px;
    }
    .inputPass {
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .inputs {
        padding-top: 15px;
        // padding-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    .btn_placements {
        display: flex;
        justify-content: space-evenly;
    }
    button {
        background: #99eedf;
        align-self: center;
        width: 240px;
        height: 35px;
        border-radius: 10px;
        border-width: 1px;
        font-family: "Roboto", sans-serif;
    }
    button:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    p {
        font-size: small;
        color: #99eedf;
    }
}

// .register {
//     margin-top: 10px;
//     font-size: 10px;
//     font-family: Arial, Helvetica, sans-serif;
//     width: 50%;
//     height: 25px;
// }