<div class="side-content">
    <div class="inside-menu">
        <div class="side-Profile">
            <img src="https://pyxis.nymag.com/v1/imgs/896/045/5741cb6124b6eef8ab6167db599baf0fb0-zuckerberg.rsquare.w1200.jpg">
            <h2>Mark Gwapo</h2>
            <p>Developer</p>
        </div>

        <ul>
            <li>
                <a href="#" class="active">Home</a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
    </div>


</div>