<div class="userMain">

    <table>

        <thead>
            <div>
                <input class="searchBar" type="text" name="fcSearch" [(ngModel)]="fcSearch" placeholder="Enter keyword">
            </div>

            <h3 (click)="resetDB()">Repopulate db</h3>
            <tr>
                <th>No</th>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | searchfilter: fcSearch ; index as i ">
                <td>{{ i + 1}}</td>
                <td>{{ user.id}}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.age }}</td>

                <td>
                    <fa-icon (click)="pop(user.id)" name="faIcon" [icon]="faEdit"></fa-icon>
                    <fa-icon (click)="deleteUser(user.id)" [icon]="faTrash"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="active" class="mainContent" id="mainContent">
    <div (click)="exit()" class="closeBtn">&times;</div>
    <div class="form" [formGroup]="patchForm">
        <!-- (ngSubmit)="onSubmit() -->

        <h2>Patch Form</h2>
        <div *ngFor="let keys of userKeys; index as i">
            <input type="checkbox" (click)="clicked(i);getValuePatch(userId)">{{keys.name}}
        </div>

        <!-- this.users[this.userId].name -->
        <div *ngIf="userKeys[0].value" class="element ">
            <label for="name ">Name</label>
            <input type="text" id="name " placeholder={{passKeyName}} formControlName="fcName">
        </div>
        <div *ngIf="userKeys[1].value" class="element ">
            <label for="age ">Age</label>
            <input type="age " id="age " placeholder={{passKeyAge}} formControlName="fcAge">
        </div>
        <div *ngIf="userKeys[2].value" class="element ">
            <label for="email ">Email</label>
            <input type="email " id="email " placeholder={{passKeyEmail}} formControlName="fcEmail">
        </div>

        <button (click)="patchUser(userId) " class="patchBtn ">Patch</button>

    </div>
    <p>{{error}}</p>
    <!-- <p>{{ patchForm.value | json }}</p> -->
</div>